// Telegram
exports.API = 'TELEGRAM_API';
exports.adminID = 'YOUR_TELEGRAM_ID';
exports.locale = 'de';
exports.authentication = false;

// Webhook
exports.IP = '127.0.0.1';
exports.PORT = '5000';

// DB
exports.HOST = 'localhost';
exports.DB = 'DB_NAME';
exports.USER = 'DB_USER';
exports.PASS = 'DB_PASS';