// Telegram
exports.API = 'API';
exports.adminID = YourAdminID;
exports.locale = 'de';
exports.authentication = false;

// PokemonGo API
exports.URL = 'UrlToYourAPI';

// System
exports.develop = true;
exports.debug = true;
