// Telegram
exports.API = 'API';
exports.adminID = YourAdminID;
exports.locale = 'de';

// PokemonGo API
exports.URL = 'UrlToYourAPI';

// System
exports.develop = true;
exports.debug = true;
exports.loop = 20000;
